{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ blog.title }}</h1>

  <p><strong>Post date:</strong> {{ blog.post_date }}</p>  
  <p><strong>Author:</strong> <a href="#">{{ blog.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Description:</strong><br> {{ blog.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>

    {% for comment in blog.comment_set.all %}
      <hr>
      <p>
          {{ comment.commenter.username }} ({{ comment.post_date }}) - {{ comment.description }}
      </p>
    {% endfor %}
    <a href="#">Add a new comment</a>
  </div>
{% endblock %}